body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.hidden {
    display: none;
}

.clear_both {
    clear: both;
}

a{
	text-decoration: none;
}

header {
    height: 80px;
	background-color: rgba(0,0,0,0.7);
}

#logo {
    text-align: center;
    display: inline;
    margin-left: 1%;
}

#logo a {
    line-height: 80px;
    font-size: 1.3em;
}

nav {
    margin-right: 1%;
    float: right;
    text-align: center;
}

nav div {
    display: inline;
}

header div a {
    color: #bbbbbb;
    width: 95px;
    line-height: 80px;
    height: 60px;
    display: inline-block;
}

nav div a{
	width: 85px;
}

.page_container {
    min-height: 90%;
    min-height: -webkit-calc(100% - 60px);
    min-height: -moz-calc(100% - 60px);
    min-height: calc(100% - 60px);
}

input{font-family:inherit;}

footer {
    height: 60px;
    background-color: rgba(0,0,0,0.7);
    line-height: 60px;
}

footer a {
    color: #ccc;
    float: right;
    margin-right: 25px;
}

footer span {
    color: #ccc;
    float: left;
    margin-left: 25px;
}
