.scroll_bar {
    margin-top: 4px;
    width: 100%;
    overflow: hidden;
}

.scroll_bar img {
    width: 100%;
}

#content_wrapper {
    margin: 60px auto;
    width: 700px;
}

.content {
    padding: 10px;
    text-align: center;
    height: 100px;
	margin-bottom: 5px;
    box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    -moz-box-shadow: 0 0 3px #888;
    line-height: 100px;
}

.content .product_img {
    height: 100px;
    width: 100px;
}

.content .product_img img {
    height: inherit;
}

.content .product_name {
    width: 445px;
}

.content .product_price {
    width: 90px;
}

.content .remove button {
    border: none;
    cursor: pointer;
    background-color: #24323D;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 30px;
    color: #ffffff;
}

.content div, .button_action div {
    float: left;
}

.empty_notice .product_img {
    width: 100%;
}

.button_action button {
    border: none;
    font-size: 1em;
    margin-top: 60px;
    background-color: #19A881;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    width: 225px;
    height: 50px;
    line-height: 20px;
}

.button_action button:nth-child(even) {
    margin-left: 7px;
    margin-right: 7px;
    background-color: #24323D;
}

.content:last-child {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 0;
}

@media screen and (min-width: 300px) and (max-width: 717px) {
    .scroll_bar {
        margin-top: 15px;
    }

    #content_wrapper, .content .remove {
        width: 100%;
    }

    #content_wrapper {
        margin: 10px auto;
    }

    .content {
        margin-top: 20px;
        line-height: 20px;
        height: 250px;
    }

    .content .product_img {
        width: 100%;
        height: 150px;
    }

    .content .product_name {
        width: 100%;
        padding: 7px 0;
        color: #ffffff;
        background-color: #24323D;
    }

    .content .product_price {
        width: 100%;
        padding: 5px 0;
    }

    .button_action {
        margin-top: 25px;
    }

    .button_action button {
        margin-top: 15px;
        width: 100%;
    }

    .button_action button:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
    }

    .empty_notice {
        height: 240px;
    }

    .empty_notice .product_img {
        padding-top: 60px;
    }
}

@media screen and (min-width: 300px) and (max-width: 555px) {
    .scroll_bar img {
        width: 800px;
        margin-left: -280px;
    }
}