#header_wrapper{
	background-image: url(../images/scroll/1.jpg);
	background-size: cover;
	height: 620px;
	height: 100vh;
}

.page_container {
    margin-bottom: 30px;
}

#btn_shop_now{
	margin: 0 auto;
	width: 80px;
	padding: 20px 100px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 30%;
	margin-top: 40vh;			
	color: #fff;
}

.content_wrapper {
    padding-top: 15px;
    width: 97%;
    margin: 0 auto;
}

.product_wrapper_outer {
    margin: 25px 2% 0 0;
    width: 32%;
    float: left;
	box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
}

.product_wrapper_outer:nth-child(3n) {
    margin-right: 0;
}

.product_wrapper_outer:hover {
    box-shadow: 0 0 10px #bbb;
    -webkit-box-shadow: 0 0 10px #bbb;
    -moz-box-shadow: 0 0 10px #bbb;
}

.product_wrapper_inner {
    padding: 20px 0 0 0;
    text-align: center;
}

.product_image {
    height: 200px;
}

.product_image img {
    height: 100%;
}

.product_info {
    padding: 5px 0;
    font-size: 0.9em;
}

.product_sub {
    margin-top: 8px;
    background-color: #24323D;
	padding: 10px 0;
	color: #fff;
}

.add_to_cart {
    color: black;
    margin-left: 17%;
    padding: 3px;
	background-color: #E9D5A6;	
    box-shadow: 0 0 3px #fff;
    -webkit-box-shadow: 0 0 3px #fff;
    -moz-box-shadow: 0 0 3px #fff;
}

.add_to_cart span {
    font-size: 0.8em;
}

#load_more {
    width: 100%;
    text-align: center;
    margin-top: 25px
}

#load_more i {
    font-size: 2.5em;
    display: none;
}

#load_more button {
    border: none;
    background-color: #24323D;
	color: #ffffff;
    padding: 8px 30px;
    text-align: center;
    cursor: pointer;
	font-size: 0.9em;
    line-height: 20px;
	box-shadow: 2px 2px 3px #222;
    -webkit-box-shadow: 2px 2px 3px #222;
    -moz-box-shadow: 2px 2px 3px #222;
}

#load_more.loading i {
    display: inline-block;
}

.loading button {
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 780px) {
    .product_wrapper_outer {
        width: 100%;
        margin: 15px 0 0 0;
        box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 2px 2px 3px #ccc;
        -moz-box-shadow: 2px 2px 3px #ccc;
    }
}