.content_wrapper {
    width: 380px;
    padding: 40px 40px 10px 40px;
    margin: 30px auto;
    box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    -moz-box-shadow: 0 0 3px #888;
}

#login, #signup, #change_pass_head {
    display: inline-block;
    color: #f5f5f5;
    width: 50%;
    background-color: #24323D;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}

#login {
    background-color: #19A881;
}

input {
    width: 98%;
    height: 30px;
    font-size: 1em;
    padding: 5px 0 5px 5px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

form p {
    margin: 30px 0;
}

.change_pass a {
    color: #444;
}

#change_pass_head {
    width: 100%;
}

button {
    background-color: #19A881;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

.signup_form_name input {
    width: 46%;
}

#signup_lname {
    float: right;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .content_wrapper {
        width: 99%;
        padding: 40px 0 10px 0;
    }
}