#header_wrapper {
	background-image: url('../images/scroll/1.jpg');
	background-size: cover;
	height: 650px;
	height: 100vh;
}

#content_wrapper {
    margin: 10% auto;
	margin: 30vh auto;
    width: 700px;
    text-align: center;
}

button {
    border: none;
    font-size: 1em;
    color: white;
    padding: 15px 32px;
}

.button_action button {
    cursor: pointer;
    background-color: rgba(25,168,129, 0.7);
    width: 225px;
}

.notice {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 300px) and (max-width: 717px) {
    #content_wrapper {
        width: 100%;
    }

    .notice {
        margin: 30px 0;
    }

    .button_action button, .notice {
        width: 100%;
    }
}